<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="true">

    <jmxConfigurator />

    <appender name="STDOUT_BLOCKING" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>

            <!-- 1. Akka Source -->
            <!--<pattern>%date{ISO8601} %-5level [%-30.30logger{30}] [%-25.25thread] [%-32.32X{akkaSource}]      %msg%n</pattern>-->

            <!-- 2. Correlation Id -->
            <pattern>%date{ISO8601} %-5level [%-30.30logger{30}] [%-32.32X{akkaSource}]      %msg     |TAGS| %X{GAME} %n</pattern>

        </encoder>
    </appender>

    <logger name = "akka.actor" level = "DEBUG" />

    <logger name="com.liveperson.infra.common.akka.actorx.demo" level="TRACE" />

    <logger name="com.liveperson.infra.akka.actorx.role.MessageTrailRole" level="TRACE" />

    <logger name="com.liveperson.infra.akka.actorx" level="DEBUG"/>

    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT_BLOCKING" />
    </root>

</configuration>
